@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Figma에서 "Title-md-600"으로 정의한 스타일 */
  .title-lg-600 {
    @apply font-pretendard text-[32px] leading-[120%] tracking-[-0.1em] font-semibold;
  }
  .title-md-600 {
    @apply font-pretendard text-[24px] leading-[120%] tracking-[-0.1em] font-semibold;
  }
  .title-sm-600 {
    @apply font-pretendard text-[20px] leading-[120%] tracking-[-0.1em] font-semibold;
  }
  .title-sm-500 {
    @apply font-pretendard text-[20px] leading-[120%] tracking-[-0.1em] font-medium;
  }
  .text-lg-600 {
    @apply font-pretendard text-[18px] leading-[120%] tracking-[-0.075em] font-semibold;
  }
  .text-lg-500 {
    @apply font-pretendard text-[18px] leading-[120%] tracking-[-0.075em] font-medium;
  }
  .text-md-600 {
    @apply font-pretendard text-[16px] leading-[140%] tracking-[-0.05em] font-semibold;
  }
  .text-md-500 {
    @apply font-pretendard text-[16px] leading-[140%] tracking-[-0.05em] font-medium;
  }
  .text-md-400 {
    @apply font-pretendard text-[16px] leading-[140%] tracking-[-0.05em];
  }
  .text-sm-600 {
    @apply font-pretendard text-[14px] leading-[140%] tracking-[-0.05em] font-semibold;
  }
  .text-sm-500 {
    @apply font-pretendard text-[14px] leading-[140%] tracking-[-0.05em] font-medium;
  }
  .text-sm-400 {
    @apply font-pretendard text-[14px] leading-[140%] tracking-[-0.05em];
  }
  .text-xsm-400 {
    @apply font-pretendard text-[12px] leading-[140%] tracking-[-0.05em];
  }
  .info-md-400 {
    @apply font-pretendard text-[16px] leading-[160%] tracking-[-0.05em];
  }

  /* 필요하다면 추가로 다른 텍스트 스타일들도 정의할 수 있습니다.
  .title-sm-400 {
    @apply font-pretendard text-[16px] leading-[150%] tracking-[-0.01em] font-medium;
  }
  */
}

.ce-toolbar__content {
  max-width: 1152px !important;
}
.ce-toolbar__actions {
  padding-right: 24px !important;
}
.ce-block__content {
  max-width: 1152px !important;
}

/* Editor.js의 + 버튼을 항상 왼쪽에 유지 */
/* .ce-toolbar__plus {
  position: absolute !important;
  left: -40px !important;
  top: 50% !important;
  transform: translateY(-50%);
} */

/* 모바일 환경에서도 동일한 위치 유지 */
@media (max-width: 768px) {
  /* .ce-toolbar__plus {
    left: 0 !important;
  }   */

  /* .ce-toolbar {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
  } */

  .ce-toolbar__actions {
    /* @apply absolute left-[-100px] top-[-17px] transform -translate-y-1/2; */
  }
}
@media (min-width: 651px) {
  .codex-editor--narrow .ce-toolbar__actions {
    /* right: auto; */
  }
}
