@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard Variable';
    src: url('/fonts/PretendardStdVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
  }
}
@layer utilities {
  /* Figma에서 "Title-md-600"으로 정의한 스타일 */
  .title-lg-600 {
    @apply font-pretendard text-[32px] leading-[120%] tracking-[-0.1em] font-semibold;
  }
  .title-md-600 {
    @apply font-pretendard text-[24px] leading-[120%] tracking-[-0.1em] font-semibold;
  }
  .title-sm-600 {
    @apply font-pretendard text-[20px] leading-[120%] tracking-[-0.1em] font-semibold;
  }
  .title-sm-500 {
    @apply font-pretendard text-[20px] leading-[120%] tracking-[-0.1em] font-medium;
  }
  .text-lg-600 {
    @apply font-pretendard text-[18px] leading-[120%] tracking-[-0.075em] font-semibold;
  }
  .text-lg-500 {
    @apply font-pretendard text-[18px] leading-[120%] tracking-[-0.075em] font-medium;
  }
  .text-md-600 {
    @apply font-pretendard text-[16px] leading-[140%] tracking-[-0.05em] font-semibold;
  }
  .text-md-500 {
    @apply font-pretendard text-[16px] leading-[140%] tracking-[-0.05em] font-medium;
  }
  .text-md-400 {
    @apply font-pretendard text-[16px] leading-[140%] tracking-[-0.05em];
  }
  .text-sm-600 {
    @apply font-pretendard text-[14px] leading-[140%] tracking-[-0.05em] font-semibold;
  }
  .text-sm-500 {
    @apply font-pretendard text-[14px] leading-[140%] tracking-[-0.05em] font-medium;
  }
  .text-sm-400 {
    @apply font-pretendard text-[14px] leading-[140%] tracking-[-0.05em];
  }
  .text-xsm-400 {
    @apply font-pretendard text-[12px] leading-[140%] tracking-[-0.05em];
  }
  .info-md-400 {
    @apply font-pretendard text-[16px] leading-[160%] tracking-[-0.05em];
  }

  
}

.ce-toolbar__content {
  max-width: 1152px !important;
}
.ce-toolbar__actions {
  padding-right: 24px !important;
}
.ce-block__content {
  max-width: 1152px !important;
}
